body {
  background-image: url("/css/Space.jpeg");
  background-color: black;
  font-family: DeathStar;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 75px;
  letter-spacing: 5px;
  color: #fbe954;
  text-shadow: 0 0 2px #fbe954, 0 0 4px #fbe954;
}
.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.squares {
  background-color: #fbea54c9;
  box-shadow: 0 0 5px 2px #fbea54ce;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}
img {
  opacity: 0;
  width: 75%;
}
.congrats {
  background-color: rgba(0, 0, 0, 0.836);
  border-radius: 20px;
  width: 500px;
  height: 250px;
  color: #fbea54;
  text-shadow: 0 0 1px #fbe954, 0 0 4px #fbe954;
  letter-spacing: 4px;
  text-align: center;
  font-size: 30px;
  visibility: hidden;
  justify-content: center;
  position: absolute;
  align-self: center;
  transform: translateY(-50px);
}

button {
  background-color: black;
  color: #fbea54de;
  text-shadow: 0 0 2px #fbe954, 0 0 3.5px #fbe954;
  width: 175px;
  height: 50px;
  font-size: 23px;
  border-radius: 12px;
  opacity: 0.95;
  margin-top: 15px;
}
